body > * {
    font-family: HelveticaNeueLTPro, HelveticaNeue, Helvetica, Arial, "PingFang SC", "Microsoft Yahei", sans-serif;
    font-size: 0.3733333333333333rem;
    font-weight: 400;
}

body .inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 540px;
    height: 100%;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
}

@media screen and (min-width: 610px) {
    body .inner {
        padding-left: 0;
        padding-right: 0;
    }
}